body {
  margin: auto;
  width: 60%;
  background-color: rgb(133, 209, 224);
}
h2 {
  text-align: center;
}
.contenedor-filtros {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.form-container {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.check {
  margin-top: 2%;
  margin-bottom: 2%;
}
label {
  margin-right: 10px;
}

input[type="text"] {
  width: 40%;
  margin: 6px 0px 6px 0px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
tr {
  height: 30px;
}
.botones {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.btn {
  cursor: pointer;
  padding: 10px;
  background-color: white;
  border: solid 1px black;
}

.btn:hover {
  color: white;
  background-color: black;
}
.btn:active {
  color: black;
  background-color: white;
  border: solid 1px black;
}

tr:nth-child(odd) {
  background: white;
}
tr:nth-child(even) {
  background: rgb(255, 227, 201);
}
